PORT=3000
SUPABASE_URL=https://qnxuysqudsqqpaubuaca.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFueHV5c3F1ZHNxcXBhdWJ1YWNhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU0NzE0MTAsImV4cCI6MjEwMTA0NzQxMH0.JKVuvcwQzu7xA9P3S-hHGHpPJLS07FzdfgOlBgQwWjg
